

<%= form_for @customer, url: customers_new_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name, required: true %><br />

  <%= f.label :address %>:
  <%= f.text_field :address, required: true %><br />

  <%= f.label :notes %>:
  <%= f.text_field :notes %><br />

  <%= f.label :last_hosted %>:
  <%= f.text_field :last_hosted %><br />

  <%= f.label :attendance %>:
  <%= f.text_field :attendance %><br />

  <%= f.submit %>
<% end %>
<button type="button" class="btn btn-primary">Add Customer</button>
